html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}
.navbar{
    height: 50px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
}
.logo{
}
/*ham-menu on right side while toggled*/
.side-nav{
    background-color: #ede9de;
    height: 100vh;
    width: 70%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    font-size: 1rem;
    transition: .3s ease;
    z-index: 9;
}
.side-nav.active{
    right: 0;
}

/* hamburger design */
.ham-menu{
    height: 40px;
    width:40px;
    position: relative;
}
.ham-bar{
    height: 5px;
    width: 100%;
    background-color: #010101;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 9;
}
.ham-bar:nth-child(1){
    top: 25%;
}
.ham-bar:nth-child(3){
    top: 75%;
}
/*design cross (X) */
.ham-menu.active .ham-bar:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /*bring to center and rotate*/
}
.ham-menu.active .ham-bar:nth-child(2){
    opacity: 0;
}
.ham-menu.active .ham-bar:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /*bring to center and rotate*/
}

/*nav-links menu*/
.side-nav ul{
    position: relative;
    top: 10%;
}
.side-nav li{
    list-style-type:none;
    margin: 20px auto;
}
.side-nav a{
    color: #010101;
    font-weight: 600;
}

/*banner*/
.banner {
    height: 250px;
    background-image: url("../assets/images/farm_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
    margin: 5px ;
}

.inner-banner{
    width: 80%;
    height: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.inner-banner p{
    color: #fff;
}
.inner-banner button {
    width: 200px;
    height: 50px;
    background-color: #087933;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
}
.inner-banner button:hover {
    background-color: #fff;
    color: #087933;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}


/*gallery styling*/

.gallery-aroundfarms{
    margin: 20px 10px 20px 10px;
}
.gallery-aroundfarms h2{
    margin: 10px;
}
.gallery-aroundfarms hr{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 0;
}
.gallery-container{
    width: 100%;
    margin: 0 auto;
}
.top-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.gallery-container figure{
    width: 160px;
    height: 160px;
    margin: 10px 0 0 0;
}
.gallery-container img{
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
}
.gallery-container .top-section-aside{
    display: flex;
    justify-content: space-between;
}
.gallery-container .bottom-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.gallery-container .video-section{
    height: 200px;
    width: 100%;
}
.video-section video{
    height: 100%;
    width: 100%;
    object-fit: cover; /*fill container*/
}
