html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}
.navbar{
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #f0f0f0 0%, #fff 100%);
}
/*ham-menu on right side while toggled*/
.side-nav{
    background-color: #ede9de;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    font-size: 1rem;
    transition: .3s ease;
    z-index: 9;
}
.side-nav.active{
    right: 0;
}

/* hamburger design */
.ham-menu{
    height: 40px;
    width:40px;
    position: relative;
}
.ham-bar{
    height: 5px;
    width: 100%;
    background-color: #010101;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 9;
}
.ham-bar:nth-child(1){
    top: 25%;
}
.ham-bar:nth-child(3){
    top: 75%;
}
/*design cross (X) */
.ham-menu.active .ham-bar:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /*bring to center and rotate*/
}
.ham-menu.active .ham-bar:nth-child(2){
    opacity: 0;
}
.ham-menu.active .ham-bar:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /*bring to center and rotate*/
}

/*nav-links menu*/
.side-nav ul{
    position: relative;
    top: 10%;
}
.side-nav li{
    list-style-type:none;
    margin: 20px auto;
}
.side-nav a{
    color: #010101;
    font-weight: 600;
}

/*banner*/
.banner {
    width: 100%;
    height: 200px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-banner{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
#home-banner{
    height: 250px;
    background-image: url("../assets/images/farm_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#home-banner p{
    color: #fff;
}
#home-banner button {
    width: 200px;
    height: 50px;
    background-color: #087933;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
}
#home-banner button:hover {
    background-color: #fff;
    color: #087933;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}
#about-banner{
    /* background-image: linear-gradient(-90deg, #ede9de 0%, #b18e5a 100%); */
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    height: 200px;
}

/*gallery styling*/
/*gallery section*/
main .gallery-aroundfarms{
    margin: 50px 10px 20px 10px;
}
.gallery-aroundfarms h2{
    margin: 10px;
    text-align: center;
}
.gallery-aroundfarms hr{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 0;
}
/*gallery container*/
.gallery-container{
    width: 100%;
    margin: 0 auto;
}
/*Top Section*/
.top-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*Video section*/
.gallery-container .video-section{
    height: 200px;
    width: 100%;
}
.video-section video{
    height: 100%;
    width: 100%;
    object-fit: cover; /*fill container*/
    cursor: pointer;
}
.gallery-container .top-section-aside{
    display: flex;
    justify-content: space-between;
}
/*Bottom section*/
.gallery-container .bottom-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
/*figure/img styling*/
.gallery-container figure{
    width: 165px;
    height: 165px;
    margin: 10px 0 0 0;
}
.gallery-container img{
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    cursor: pointer;
}

/*Full-view media styling*/
.fullview {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.fullview-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    max-width: 80%;
    max-height: 80%;
}

.fullview-content img, .fullview-content video {
    width: 100%;
    height: 100%;
}

.closeview{
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.closeview:hover {
    color: red;
}
/*download option style*/
.download-btn {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #087933;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.download-btn:hover {
    background-color: #055825;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/*fototer section*/
/* General Footer Styling */
footer {
    background-color: #ede9de;
    color: #010101; /* Dark text for readability */
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer container layout */
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer-topsection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Opening Hours Section */
.openinghours h2 {
    color: #1d355b; 
    font-size: 18px;
    margin-bottom: 10px;
}

.openinghours .hours p {
    font-size: 14px;
    margin: 5px 0;
}

/* Newsletter Subscription Section */
.subscribe-newsletter h2 {
    color: #087933; 
    font-size: 18px;
    margin-bottom: 10px;
}

.subscribe-newsletter p {
    color: #087933;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-form input[type="email"] {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
}

.footer-form span {
    font-size: 12px;
}

.footer-form button {
    margin: 0 auto;
    padding: 10px;
    background-color: #087933;; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-form button:hover {
    background-color: #055825; 
}
#success-message, #failed-message{
    display: none;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
}
/* Map and Address Section */
footer .map-location .map-direction iframe {
    border: 1px solid #777;
    border-radius: 10px;
    width: 80%;
    height: 200px;
}

.map-location .location-address .address {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* Privacy Policy */
.privacy-policy p {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

.privacy-policy a {
    color: #007BFF;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 350px) {
    .gallery-container figure{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .gallery-container .bottom-section{
        gap: 10px;
        margin-top: 10px;
    }
    .gallery-container .top-section-aside{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .footer-form input[type="email"], .inner-banner button {
        width: 90%;
    }
}

/*for small tablets screen size*/
@media only screen and (min-width: 610px) {
    /*gallery responsiveness*/
    .gallery-container .top-section{
        flex-direction: row;
        gap: 10px;
        margin-bottom: 5px;
    }
    .top-section-aside{
        flex-direction: column;
        gap: 10px;
    }
    .gallery-container figure{
        height: 140px;
        width: 140px;
        margin-top: 0;
    }
    .gallery-container .video-section{
        height: 100%;
    }
    .gallery-container .bottom-section{
        flex-wrap: nowrap;
        gap: 10px;
        padding-bottom: 10px;
    }
   
    .gallery-container img{
        width: 100%;
        height: 100%;
        box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    } 
    .fullview-content {
        max-width: 55%;
        max-height: 55%;
    }
    footer .footer-container{
        gap: 20px;
    }
    footer .footer-topsection{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .openinghours, .subscribe-newsletter, .map-location .map-direction iframe{
        width: 50%;
    }
  }

  /*medium devices*/
  @media only screen and (min-width: 772px) {
    .gallery-aroundfarms{
        margin: 15px;
    }
    .gallery-container figure{
        height: 178px;
        width: 178px;
    }
    /*show navigation links on the navbar and hide ham-menu*/
    nav .side-nav {
        position: static;
        width: 60%;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }
    nav .side-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav .side-nav li {
        margin: 0;
    }
    nav .side-nav a {
        text-decoration: none;
        color: #010101;
        font-weight: 500;
        transition: color 0.3s ease;
        font-size: 0.8rem;
    }
    nav .side-nav a:hover {
        color: #777;
    }
    nav .ham-menu {
        display: none;
    }

  }

  /*laptops*/
  @media only screen and (min-width: 992px) {
    .banner{
        height: 300px;
    }
    .inner-banner{
        width: 50%;
    }
    .gallery-aroundfarms{
        margin: 20px;
    }
    .gallery-container .top-section{
        margin-bottom: 10px;
    }
    .gallery-container figure{
        height: 233px;
        width: 233px;
    }
    .footer-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    footer .map-location .map-direction iframe{
        width: 100%;
    }
  }
  /*desktops*/
  @media only screen and (min-width: 1198px) {
    .gallery-aroundfarms{
        margin: 20px;
    }
    .gallery-container figure{
        height: 282px;
        width: 282px;
    }
    footer .footer-topsection{
        flex-direction: column;
        width: 40%;
        gap: 20px;
        align-items: center;
    }
    footer .map-location{
        width: 50%;
    }
    footer .map-location .map-direction iframe{
        width: 100%;
        height: 250px;
    }
  }