/*global focus style*/
:focus {
  outline: 3px solid #FFD700;
  border-radius: 5px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  color: #63371e;
  background-color: #fff;
}

/*-----------------------------------NAV SECTION-------------------------------------*/
.navbar {
  height: 70px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #fff 20%, #f0f0f0 80%);
}

.navbar .logo {
  height: 100%;
}

.navbar .logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .logo img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* hamburger design */
.navbar .ham-menu {
  height: 40px;
  width: 40px;
  position: relative;
}

.navbar .ham-bar {
  height: 5px;
  width: 100%;
  background-color: #087933;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  /*above overlay and content*/
  z-index: 1001;
}
.navbar .ham-bar:nth-child(1) {
  top: 25%;
}

.navbar .ham-bar:nth-child(3) {
  top: 75%;
}

/*design cross (X) */
.navbar .ham-menu.active .ham-bar:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /*bring to center and rotate*/
}

.navbar .ham-menu.active .ham-bar:nth-child(2) {
  opacity: 0;
}

.navbar .ham-menu.active .ham-bar:nth-child(3) {
  top: 50%;
  /*bring to center and rotate*/
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*overlay styling*/
/*hide at first*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  /*above other content*/
  z-index: 999; 
  display: none;
}
.overlay.active {
  display: block;
}

/*side-nav links items*/
.navbar .side-nav {
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #ede9de;
  height: 100vh;
  font-size: 1rem;
  padding: 20px;
  /*above the overlay*/
  z-index: 1000;
  /* box-shadow: -2px 0 15px rgba(0, 0, 0, 0.3); */
}

.navbar .side-nav.active {
  right: 0;
}

/*nav-links menu*/
.navbar .side-nav ul {
  position: relative;
  top: 10%;
  padding: 0;
}

.navbar .side-nav li {
  list-style-type: none;
  margin: 20px auto;
}

.navbar .side-nav a {
  text-decoration: none;
  color: #725438;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar .side-nav a:hover {
  background-color: #087933;
  color: #fff;
}
.navbar .side-nav a.active{
  background-color: #087933;
  color: #fff;
}

/*-----------------------------------COMMON BANNER SECTION-------------------------------------*/
/*banner*/
.banner {
  width: 100%;
  min-height: 350px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-banner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

/*Text animation to slowly fade in the banner*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-----------------------------------HOME PAGE-------------------------------------*/
/*HOME BANNER*/
#home-banner {
  background-image: url("../assets/images/home_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home-banner p {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

#home-banner button {
  padding: 20px;
  background-color: #fff;
  color: #087933;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#home-banner button:hover {
  background-color: #087933;
  color: #fff;
  transform: scale(1.1);
}

/*gallery styling*/
/*gallery section*/
.gallery-aroundfarms {
  margin: 50px 30px;
}

.gallery-aroundfarms h2 {
  color: #087933;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}


/*gallery container*/
.gallery-aroundfarms .gallery-container {
  width: 100%;
  margin: 0 auto;
}

/*Top Section*/
.gallery-aroundfarms .top-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*Video section*/
.gallery-aroundfarms .gallery-container .video-section {
  height: 200px;
  width: 100%;
}

.gallery-aroundfarms .video-section video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.gallery-aroundfarms .video-section video:hover {
  opacity: 0.9;
}

.gallery-aroundfarms .gallery-container .top-section-aside {
  display: flex;
  justify-content: space-between;
}

/*Bottom section*/
.gallery-aroundfarms .gallery-container .bottom-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*figure/img styling*/
.gallery-aroundfarms .gallery-container figure {
  width: 48%;
  height: auto;
  margin: 10px 0 0 0;
}

.gallery-aroundfarms .gallery-container img {
  width: 100%;
  height: 100%;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.gallery-aroundfarms .gallery-container img:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

/*Full-view media styling*/
.gallery-aroundfarms .fullview {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-aroundfarms .fullview-content {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  max-width: 80%;
  max-height: 80%;
}

.gallery-aroundfarms .fullview-content img,
.gallery-aroundfarms .fullview-content video {
  width: 100%;
  height: 100%;
}

.gallery-aroundfarms .closeview {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.gallery-aroundfarms .closeview:hover {
  color: red;
}

/*download option style*/
.gallery-aroundfarms .download-btn {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #087933;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.gallery-aroundfarms .download-btn:hover {
  background-color: #055825;
}

/*-----------------------------------ABOUT US PAGE-------------------------------------*/
/*ABOUT US BANNER*/
#about-banner {
  /* background-image: linear-gradient(-90deg, #ede9de 0%, #b18e5a 100%); */
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

#about-banner h2 {
  color: #ffd700;
  font-weight: bold;
}

#about-banner p {
  font-size: 18px;
  line-height: 1.2;
}

/*Text animation to slowly fade in the banner*/
#about-innerbanner {
  animation: fadeIn 2s ease-in-out;
}

/*Main content*/
.whoweare {
  margin: 50px;
}

.whatwedo {
  margin: 0 50px 50px 50px;
}

.whoweare .whoweare-container,
.whatwedo .whatwedo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.whoweare-container .whoweare-description,
.whatwedo-container .whatwedo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  background-color: #ede9de;
}

.whoweare-container .whoweare-description p,
.whatwedo-container .whatwedo-description p {
  margin-top: 0;
}

.whoweare-container .whoweare-description h3,
.whatwedo-container .whatwedo-description h3 {
  color: #087933;
  font-weight: 700;
  text-transform: uppercase;
}

.whoweare-container .whoweare-image,
.whatwedo-container .whatwedo-image {
  width: 100%;
  height: auto;
}

.whoweare-container .whoweare-image img,
.whatwedo-container .whatwedo-image img {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.whoweare-container .whoweare-image img:hover,
.whatwedo-container .whatwedo-image img:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

/*-----------------------------------PRODUCT PAGE-------------------------------------*/
/*PRODUCT BANNER*/
#product-banner {
  /* background-image: linear-gradient(-90deg, #ede9de 0%, #b18e5a 100%); */
  background-image: linear-gradient(to right, #a5dd9b 10%, #c5ebaa 90%);
  padding: 50 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#product-innerbanner {
  color: #1d355b;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: fadeIn 2s ease-in-out;
}

#product-banner h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

#product-banner p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

#product-innerbanner .features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#product-innerbanner .product-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100px;
  padding: 5px;
}

#product-innerbanner .product-feature figure {
  width: 80px;
  height: 80px;
  margin: 0;
}

#product-innerbanner .product-feature img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
}

#product-innerbanner .product-feature span {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

/*Main content*/
.product-section {
  margin: 40px 20px;
}

/* Product List Styling */
.product-section .product-list {
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.product-section .product-details {
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease-in-out, box-shawdow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-section .product-details:focus {
  outline: 2px solid #087933;
}

.product-section .product-details:hover {
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
}

.product-details:hover .intro-details p {
  color: #333;
}

.product-section .product-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 5px;
}


.product-section .product-intro img {
  width: 100%;
}

.product-section .product-intro h3 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 20px 0 5px;
}

.product-section .product-intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #777;
  margin: 10px 0;
}

/*hide at first*/
.product-section .product-info {
  display: none;
  background-image: linear-gradient(45deg, #185001 10%, #087933 82%);
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

.product-section .product-info figure {
  align-self: flex-end;
  margin: 10px 0;
}

/*svg color styling*/
.product-section .product-info img {
  height: 48px;
  width: 48px;
  filter: invert(100%) brightness(100%);
}

.product-section .product-info img:hover {
  filter: invert(20%) sepia(100%) saturate(300%) hue-rotate(100deg);
}

.product-section .product-info .additional-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5px 10px 5px;
}

.product-section .product-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #c5ebaa;

}

.product-section .product-info p {
  font-size: 16px;
  line-height: 1.6;
}


.product-section .product-info .info-introduction,
.product-section .product-info .info-contact {
  text-align: center;
}

.product-section .product-info .info-introduction p,
.product-section .product-info .info-contact p {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
}

/*When active*/
.product-section .product-details.active .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-section .contact-btn {
  padding: 10px 15px;
  background-color: white;
  color: #087933;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.product-section .contact-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
/*SUSTAINABILITY BANNER*/
#sustain-banner {
  width: 100%;
  /* background-image: url("../assets/images/sustain_banner.jpg"); */
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#sustain-innerbanner{
  animation: fadeIn 2s ease-in-out;
}

#sustain-banner h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #ffd700;
}

#sustain-banner h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
  color: #fff;
}

/*Main content*/
.commitment {
  margin: 50px 50px 50px 0;
}

.practices {
  margin: 0 0 50px 50px;
}

.commitment .commitment-container,
.practices .practices-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.commitment-container .commitment-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-left: 50px;
}
.practices-container .practices-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-right: 50px;
}
.commitment-container .commitment-description h3,
.practices-container .practices-description h3 {
  color: #087933;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
}
.commitment-container .commitment-description p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.practices-container .practices-description ul {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-left: 0;
  margin-bottom: 20px;
}

.practices-container li {
  list-style-type: none;
  margin-bottom: 10px;
}

.commitment-container .commitment-image,
.practices-container .practices-image {
  width: 100%;
}


.commitment-container .commitment-image img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: transform 0.3s ease-in-out;
}
.commitment-container .commitment-image img:hover{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(20px);
}


.practices-container .practices-image img {
  width: 100%;
  height: 100%;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: transform 0.3s ease-in-out;
}
.practices-container .practices-image img:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: translateX(-25px);
}

.supporting-partners {
  margin: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.supporting-partners h3 {
  color: #087933;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.supporting-partners .partners-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.partners-container img {
  height: 140px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.partners-container img:hover {
  transform: scale(1.02);
}

/*-----------------------------------CONTACT PAGE-------------------------------------*/
/*FORM SECTION*/
.contact-container {
  margin: 50px 30px;
}

.contact-container .form-section {
  margin-bottom: 50px;
}

.contact-container form .form-part {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-container form input,
.contact-container form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-container form input:focus,
.contact-container form textarea:focus {
  box-shadow: 0 0 5px rgba(60, 141, 99, 0.5);
  outline: none;
  border-color: #087933;
}

.contact-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #087933;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.contact-container button:hover {
  cursor: pointer;
  background-color: #055825;
}

.contact-container form input:focus::placeholder,
.contact-container form textarea:focus::placeholder {
  opacity: 0.5;
}

.contact-container form textarea {
  min-height: 80px;
  resize: vertical;
}

.contact-container form .error {
  display: none;
  color: #e23718;
  font-size: 14px;
  margin-top: 10px;
}

.contact-container form .success {
  display: none;
  text-align: center;
  color: #087933;
  font-size: 14px;
  margin-top: 10px;
}

/*description section*/
.contact-container .info-social-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-container .info-social-container h3 {
  font-size: 22px;
  color: #087933;
}

.contact-container .info-social-container p {
  font-size: 16px;
  line-height: 1.6;
}

.contact-container .social-links .svg-container {
  display: flex;
  gap: 10px;
}

.contact-container .social-links .svg-container a {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.contact-container .social-links .svg-container a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.social-links .svg-container img {
  height: 24px;
  width: 24px;
}

/*-----------------------------------FOOTER SECTION-------------------------------------*/
/* General Footer Styling */
footer {
  background-color: #ede9de;
  color: #63371e;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2), 0 -2px 5px rgba(0, 0, 0, 0.15);
}

/* Footer container layout */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer-topsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Opening Hours Section */
.openinghours h2 {
  color: #1d355b;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.openinghours .hours p {
  font-size: 16px;
  margin: 5px 0;
}

/* Newsletter Subscription Section */
.subscribe-newsletter h2 {
  color: #1d355b;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe-newsletter p {
  color: #1d355b;
  font-size: 16px;
  margin-top: 10px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-form input[type="email"] {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
}
.footer-form input[type="checkbox"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-form input[type="email"]:focus,
.footer-form input[type="checkbox"]:focus {
  box-shadow: 0 0 5px rgba(60, 141, 99, 0.5);
  outline: none;
  border-color: #087933;
}


.footer-form span {
  font-size: 14px;
}

.footer-form button {
  margin: 0 auto;
  padding: 10px;
  background-color: #087933;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer-form button:hover {
  transform: scale(1.02);
}

#success-message,
#failed-message {
  width: 80%;
  display: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  margin: 0 auto;
}
/* Map and Address Section */
footer .map-location .map-direction iframe {
  border: 1px solid #777;
  width: 80%;
  height: 200px;
}

.map-location .location-address .address {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* Privacy Policy */
.privacy-policy p {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}

.privacy-policy a {
  color: #007bff;
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

/*FOR SMALL SCREEN SIZES*/
@media only screen and (max-width: 350px) {

  /*-----------------------------------HOME PAGE-------------------------------------*/
  .gallery-aroundfarms {
    margin: 50px 20px;
  }

  .gallery-aroundfarms .gallery-container figure {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .gallery-aroundfarms .gallery-container .bottom-section {
    gap: 10px;
    margin-top: 10px;
  }

  .gallery-aroundfarms .gallery-container .top-section-aside {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
  .partners-container img {
    width: 80%;
    height: 200px;
  }

  /*CONTACT PAGE*/
  .contact-container form .form-part {
    flex-direction: column;
    width: 92%;
  }

  /*PRODUCT PAGE*/
  #product-innerbanner .features {
    flex-direction: column;
    width: 100%;
  }

  #product-innerbanner .product-feature {
    flex-direction: row;
    max-width: 100%;
  }

  .product-section {
    margin: 40px auto;
  }

  /*-----------------------------------FOOTER SECTION-------------------------------------*/
  .footer-form input[type="email"],
  .inner-banner button {
    width: 90%;
  }
}

/*FOR MOBILE SCREEN SIZES*/
@media only screen and (min-width: 610px) {

  .inner-banner {
    padding: 20px 40px;
  }

  /*-----------------------------------NAV SECTION-------------------------------------*/
  /*show navigation links on the navbar and hide ham-menu*/
  .navbar .side-nav {
    position: static;
    width: 70%;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }

  .navbar .side-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar .side-nav li {
    margin: 0;
  }

  .navbar .side-nav a {
    text-decoration: none;
    color: #63371e;
    font-weight: 600;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    font-size: 0.8rem;
  }

  .navbar .side-nav a:hover {
    color: #777;
    background-color: transparent;
    border-color: #777;
  }
  .navbar .side-nav a.active{
    background-color: transparent;
    color: #63371e;
    border-bottom: 2px solid #63371e;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar .ham-menu {
    display: none;
  }
  .overlay.active{
    display: none;
  }


  /*-----------------------------------HOME PAGE-------------------------------------*/
  /*gallery responsiveness*/
  .gallery-aroundfarms .gallery-container .top-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .gallery-aroundfarms .top-section-first {
    width: 75%;
  }

  .gallery-aroundfarms .top-section-aside {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 24.1%;
  }

  .gallery-aroundfarms .top-section-aside figure {
    width: 100%;
    margin: 0;
  }

  .gallery-aroundfarms .gallery-container .video-section {
    width: 100%;
    height: 100%;
  }

  .gallery-aroundfarms .gallery-container .bottom-section {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .gallery-aroundfarms .gallery-container .bottom-section figure {
    width: 25%;
  }

  .gallery-aroundfarms .fullview-content {
    max-width: 55%;
    max-height: 55%;
  }

  /*-----------------------------------PRODUCT PAGE-------------------------------------*/
  .product-section .product-intro {
    flex-direction: row;
    justify-content: space-around;
  }

  .product-section .product-intro img {
    max-width: 60%;
  }

  /*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
  .commitment {
    margin-right: 80px;
  }
  .commitment-container .commitment-description{
    margin-left: 80px;
  }
  .practices {
    margin-left: 80px;
  }
  .practices-container .practices-description{
    margin-right: 80px;
  }

  .supporting-partners .partners-container{
    width: 60%;
    margin: 0 auto;
  }
  /*-----------------------------------FOOTER SECTION-------------------------------------*/
  footer .footer-container {
    gap: 20px;
  }

  footer .footer-topsection {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .openinghours,
  .subscribe-newsletter,
  .map-location .map-direction iframe {
    width: 50%;
  }
}

/*MEDIUM DEVICES (TABLET)*/
@media only screen and (min-width: 772px) {

  .inner-banner {
    padding: 20px 60px;
  }

  /*-----------------------------------ABOUT US PAGE-------------------------------------*/
  .whoweare .whoweare-container,
  .whatwedo .whatwedo-container {
    flex-direction: row;
    gap: 10px;
  }

  .whoweare-container .whoweare-description,
  .whatwedo-container .whatwedo-description {
    width: 50%;
    font-size: 16px;
    line-height: 1.4;
  }

  .whoweare-container .whoweare-image,
  .whatwedo-container .whatwedo-image {
    width: 50%;
  }

  .whoweare-container .whoweare-image img {
    width: 100%;
    height: 100%;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .whatwedo-container .whatwedo-image img {
    width: 100%;
    height: 100%;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .whoweare-container .whoweare-image img:hover {
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);
  }

  .whatwedo-container .whatwedo-image img:hover {
    box-shadow: -8px 0 20px rgba(0, 0, 0, 0.3);
  }

  .whatwedo-container .whatwedo-image {
    order: -1;
  }

  /*-----------------------------------CONTACT PAGE-------------------------------------*/
  .contact-container {
    margin: 50px 60px;
  }

  .contact-container .info-social-container {
    flex-direction: row;
    gap: 30px;
  }

  .contact-container .info-social-container .description,
  .contact-container .info-social-container .social-links {
    flex: 1;
  }

  /*-----------------------------------PRODUCT PAGE-------------------------------------*/
  .product-section .product-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product-section .product-details {
    position: relative;
    width: 45%;
    height: 350px;
  }

  .product-section .product-intro {
    flex-direction: column;
  }

  .product-section .product-intro img {
    max-width: 100%;
  }


  .product-section .product-info {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 10px;
  }

  .product-section .product-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product-section .product-details {
    position: relative;
    width: 45%;
    height: 350px;
  }

  .product-section .product-intro,
  .product-section .product-info {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .product-section .product-intro {
    flex-direction: column;
  }

  .product-section .product-intro img {
    max-width: 100%;
  }


  /*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
  .commitment {
    margin-right: 50px;
  }
  
  .practices {
    margin-left: 50px;
  }
  .commitment .commitment-container,
  .practices .practices-container {
    flex-direction: row;
  }

  .commitment-container .commitment-description {
    width: 50%;
    margin-left: 30px;
  }
  .commitment-container .commitment-description p {
    margin-bottom: 0;
  }

  .practices-container .practices-description {
    width: 50%;
    margin-right: 30px;
  }
  .practices-container .practices-description ul{
    margin-bottom: 0;
  }

  .commitment-container .commitment-image,
  .practices-container .practices-image {
    width: 55%;
  }

  .commitment-container .commitment-image {
    order: -1;
  }
  .supporting-partners .partners-container{
    width: 90%;
    margin: 0 auto;
  }
}

/*FOR TABLET SCREEN SIZES*/
@media only screen and (min-width: 992px) {
  .navbar .side-nav {
    width: 60%;
  }

  .inner-banner {
    width: 60%;
  }

  /*-----------------------------------HOME PAGE-------------------------------------*/
  .gallery-aroundfarms {
    margin: 50px;
  }

  .gallery-aroundfarms .gallery-container .top-section {
    margin-bottom: 5px;
  }

  .gallery-aroundfarms .gallery-container .top-section,
  .gallery-aroundfarms .top-section-aside,
  .gallery-aroundfarms .gallery-container .bottom-section {
    gap: 15px;
  }

  /*-----------------------------------PRODUCT PAGE-------------------------------------*/
  #product-innerbanner .features {
    width: 100%;
    justify-content: space-around;
  }

  #product-innerbanner .product-feature {
    max-width: 150px;
  }

  .product-section .product-details {
    width: 30%;
  }

  .product-section .product-info {
    padding: 0;
  }
  .product-section .product-info figure {
    align-self: flex-end;
    margin-right: 10px;
  }
  .product-section .product-info .info-introduction p,
  .product-section .product-info .info-contact p{
    margin-bottom: 0;
  }
  /*-----------------------------------CONTACT PAGE-------------------------------------*/
  .contact-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px;
  }

  .contact-container .info-social-container {
    flex-direction: column;
  }

  .contact-container .info-social-container h3 {
    margin-top: 0;
  }

  .contact-container .form-section {
    width: 60%;
    height: 100%;
    margin: auto;
  }

  .contact-container .info-social {
    width: 40%;
  }

  /*-----------------------------------FOOTER SECTION-------------------------------------*/
  .footer-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer .map-location .map-direction iframe {
    width: 100%;
  }
}

/*FOR DESKTOP SCREEN SIZES*/
@media only screen and (min-width: 1198px) {

  /*-----------------------------------HOME PAGE-------------------------------------*/
  .gallery-aroundfarms {
    margin: 50px 70px;
  }

  /*-----------------------------------ABOUT US PAGE-------------------------------------*/
  .whatwedo-container .whatwedo-description,
  .whoweare-container .whoweare-description {
    width: 40%;
    padding: 100px;
    line-height: 1.6;
    font-size: 18px;
  }

  /*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
  .supporting-partners .partners-container{
    width: 60%;
  }


  /*-----------------------------------FOOTER SECTION-------------------------------------*/
  footer .footer-topsection {
    flex-direction: column;
    width: 40%;
    gap: 20px;
    align-items: center;
  }

  footer .map-location {
    width: 50%;
  }

  footer .map-location .map-direction iframe {
    width: 100%;
    height: 250px;
  }
}

/*for larger desktop*/
@media only screen and (min-width: 1400px) {

  /*-----------------------------------PRODUCT PAGE-------------------------------------*/
  .product-section .product-details {
    width: 25%;
  }

  .product-section .product-intro img {
    max-width: 85%;
  }

  .product-section .product-info figure {
    margin-top: 0;
  }
   /*-----------------------------------SUSTAINABILITY PAGE-------------------------------------*/
   .commitment {
    margin-right: 100px;
  }
  .commitment-container .commitment-description{
    margin-left: 50px;
  }
  
  .practices {
    margin-left: 100px;
  }
  .practices-container .practices-description {
    margin-right: 50px;
  }
   .supporting-partners .partners-container{
    width: 50%;
  }

}